@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  /* Define Colors as colors */
  --black: #000;
  --light-black: #222;
  --white: #fff;
  --dark-grey: #1a2f41;
  --grey: #252c30;
  --light-blue: #2998ff;
  --light-blue-gradient: #2998ff60;
  --dark-blue: #135cc5;
  --dark-blue-gradient: #135cc560;
  --light-orange-gradient: #ff773060;
  --dark-orange-gradient: #ffb90060;

  --orange: #ff7730;
  --yellow: #ffb900;
  --lightGrey: #f2f4f6;
  --light-glass-background: rgba(255, 255, 255, 0.4);
  --light-glass-border: rgba(255, 255, 255, 0.4);
  --dark-glass-background: rgba(0, 0, 0, 0.4);
  --dark-glass-border: rgba(0, 0, 0, 0.4);
  /* Define Colors intentions */
  --btn: var(--light-blue);
  --glass-background: var(--light-glass-background);
  --glass-border: var(--light-glass-border);
  --background-primary: var(--light-black);
  --card-background: var(--black);
  --card-text: var(--white);
  --background-secondary: var(--dark-grey);
  --text-primary: var(--black);
  --text-secondary: var(--white);
  /* Styles */

  /* Type */

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --smallText: 0.8rem;

  /* Elevation */
  --light-shadow: 0px 0px 6px 6px var(--light-blue);
  --dark-shadow: 0px 0px 6px 6px var(--orange);

  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-2-white: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.1);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;
}
h1 {
  margin: 3rem;
  font-size: var(--h1);
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: var(--glass-border);
  border: 1px solid var(--glass-background);
  color: var(--text-primary);
  padding: 3rem 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}
.light {
    --btn: var(--light-blue);
    --glass-background: var(--light-glass-background);
    --glass-border: var(--light-glass-border);
    --text-primary: var(--black);
    --shadow: var(--light-shadow);
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1176&q=80");
    background-size: cover;
    /* background-position: bottom; */
    --gradient-1: var(--light-blue-gradient);
    --gradient-2: var(--dark-blue-gradient);
  }
  .dark {
    --btn: var(--orange);
    --glass-background: var(--dark-glass-background);
    --glass-border: var(--dark-glass-border);
    --text-primary: var(--white);
    --shadow: var(--dark-shadow);
    background-image: url("https://images.unsplash.com/photo-1504386106331-3e4e71712b38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    background-position: bottom;
    --gradient-1: var(--light-orange-gradient);
    --gradient-2: var(--dark-orange-gradient);
  }
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
  
    margin: 3rem auto;
  }
  .menu-card {
    width: 26%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 53rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: var(--glass-border);
    border: 1px solid var(--glass-background);
    color: var(--text-primary);
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: all 0.3s;
  }
  @media screen and (max-width:900px){
    .menu-container{
      flex-direction: row;
    }
    .menu-card{
      width: 45%;
    }
  }
  
  @media screen and (max-width:600px){
    .menu-container{
      flex-direction: column;
    }
    .menu-card{
      width: 100%;
    }
  }
  
  
  .menu-card:hover {
    transform: translateY(-2px) scale(1.05);
  }
  .img-container {
    width: 100%;
    height: 40%;
    position: relative;
  }
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      var(--gradient-1),
      var(--gradient-2)
    );
  }
  .menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu-item {
    font-size: var(--h3);
    margin-top: 1rem;
    height: 20%;
  }
  
  .menu-price {
    font-size: var(--h4);
  }
  .btn,
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  .btn {
    background-color: var(--btn);
    color: var(--text-secondary);
  }
  .btn::after {
    background-color: var(--btn);
    color: var(--text-secondary);
  }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
  .btn:active {
    transform: translateY(-1px);
    transform: scaleX(1.5) scaleY(1.6);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  .theme {
    width: 30vw;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
  }
  .theme-parent {
    margin: 1rem auto;
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
  }
  .theme-btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10rem;
    transition: all 0.2s;
  }
  .light-theme-btn {
    background-color: var(--light-blue);
    color: white;
  }
  .theme-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  }
  .light-theme-color {
    background-color: var(--light-blue);
    clip-path: circle(50%);
    height: 3rem;
    width: 3rem;
  }
  .dark-theme-color {
    background-color: var(--orange);
    clip-path: circle(50%);
    height: 3rem;
    width: 3rem;
  }
  .dark-theme-btn {
    background-color: var(--orange);
    color: white;
  }
  
  .meme{
    height: 500px;
    margin: 25px auto;
    display: block;
  }